In [1]:
import numpy as np
import pandas as pd
import requests
import cfbd
from cfbd.rest import ApiException

In [14]:
dataset = pd.DataFrame()

In [16]:
# Configure API key authorization: ApiKeyAuth
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = '+eiRK37qNRqjoDcgyigTAWo4QyGrMtYR1o/hifwQmzj8hO1OwzwDdbjRnJKfSr2t'
configuration.api_key_prefix['Authorization'] = 'Bearer'

for year in range (2023, 2024):
    api_config = cfbd.ApiClient(configuration)
    for week in range (1,16):
        response = plays = cfbd.PlaysApi(api_config).get_plays(year=year, week=week, offense='Michigan')
        data = (pd.DataFrame.from_records([p.to_dict() for p in plays]))
        dataset = pd.concat([dataset, data]) 
          
      
dataset

,id,drive_id,game_id,drive_number,play_number,offense,offense_conference,offense_score,defense,home,...,yard_line,yards_to_goal,down,distance,yards_gained,scoring,play_type,play_text,ppa,wallclock
0,401520162101849903,4015201621,401520162,1,1,Michigan,Big Ten,0,East Carolina,Michigan,...,35,65,1,10,0,False,Kickoff,Tommy Doman kickoff for 65 yds for a touchback,NaN,2023-09-02T16:10:42.000Z
1,401520162101869001,4015201622,401520162,2,1,Michigan,Big Ten,0,East Carolina,Michigan,...,2,98,1,10,1,False,Rush,Blake Corum run for 1 yd to the MICH 1,-0.210151,2023-09-02T16:11:29.000Z
2,401520162101877301,4015201622,401520162,2,2,Michigan,Big Ten,0,East Carolina,Michigan,...,1,99,2,11,0,False,Rush,Blake Corum run for no gain to the MICH 1,-0.087453,2023-09-02T16:12:19.000Z
3,401520162101885201,4015201622,401520162,2,3,Michigan,Big Ten,0,East Carolina,Michigan,...,1,99,3,11,1,False,Rush,Donovan Edwards run for 1 yd to the MICH 2,-0.031096,2023-09-02T16:13:02.000Z
4,401520162101888501,4015201622,401520162,2,4,Michigan,Big Ten,0,East Carolina,Michigan,...,2,98,4,10,0,False,Punt,"Tommy Doman punt for 45 yds, fair catch by Jos...",NaN,2023-09-02T16:13:30.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,401539480104966102,40153948026,401539480,26,1,Michigan,Big Ten,26,Iowa,Iowa,...,65,65,4,1,0,False,Kickoff,Tommy Doman kickoff for 65 yds for a touchback,NaN,2023-12-03T04:25:30.000Z
85,401539480104987801,40153948027,401539480,27,1,Michigan,Big Ten,26,Iowa,Iowa,...,39,39,1,10,4,False,Rush,Alex Orji run for 4 yds to the IOWA 35,-0.085210,2023-12-03T04:34:04.000Z
86,401539480104995401,40153948027,401539480,27,2,Michigan,Big Ten,26,Iowa,Iowa,...,35,35,2,6,-1,False,Rush,TEAM run for a loss of 1 yard to the IOWA 36,-1.077809,2023-12-03T04:34:52.000Z
87,401539480104997901,40153948027,401539480,27,3,Michigan,Big Ten,26,Iowa,Iowa,...,36,36,3,7,-2,False,Rush,TEAM run for a loss of 2 yards to the IOWA 38,-1.460774,2023-12-03T03:51:07.000Z
88,401539480104997902,40153948027,401539480,27,4,Michigan,Big Ten,26,Iowa,Iowa,...,36,36,0,7,0,False,End of Game,End of 4th Quarter,NaN,2023-12-03T04:35:34.000Z

In [17]:
dataset.columns

Index(['id', 'drive_id', 'game_id', 'drive_number', 'play_number', 'offense',
       'offense_conference', 'offense_score', 'defense', 'home', 'away',
       'defense_conference', 'defense_score', 'period', 'clock',
       'offense_timeouts', 'defense_timeouts', 'yard_line', 'yards_to_goal',
       'down', 'distance', 'yards_gained', 'scoring', 'play_type', 'play_text',
       'ppa', 'wallclock'],
      dtype='object')

In [22]:
offense_df = dataset[['game_id','play_type','yards_gained','offense']]
offense_df.head()

     game_id play_type  yards_gained   offense
0  401520162   Kickoff             0  Michigan
1  401520162      Rush             1  Michigan
2  401520162      Rush             0  Michigan
3  401520162      Rush             1  Michigan
4  401520162      Punt             0  Michigan

In [55]:
#define each plays type
pass_types = ['Pass Reception', 'Passing Touchdown']
rush_types = ['Rush', 'Rushing Touchdown']

#write function to get the play type into the dataframe
def getPlayCall(x):
    if x in pass_types:
            return 'pass'
    elif x in rush_types:
        return 'rush'
    else:
        return 'None'

#get the play type into the dataframe
offense_df['play_call'] = offense_df['play_type'].apply(getPlayCall)


offense_df.head()

     game_id play_type  yards_gained   offense play_call
0  401520162   Kickoff             0  Michigan      None
1  401520162      Rush             1  Michigan      rush
2  401520162      Rush             0  Michigan      rush
3  401520162      Rush             1  Michigan      rush
4  401520162      Punt             0  Michigan      None

In [58]:
offense_df = offense_df[offense_df.play_call != 'None']

In [59]:
offense_df.head()

     game_id       play_type  yards_gained   offense play_call
1  401520162            Rush             1  Michigan      rush
2  401520162            Rush             0  Michigan      rush
3  401520162            Rush             1  Michigan      rush
5  401520162  Pass Reception             3  Michigan      pass
7  401520162  Pass Reception            16  Michigan      pass

In [125]:
offense_rush_df = offense_df[['game_id', 'offense', 'play_type','play_call', 'yards_gained']]
offense_rush_df = offense_rush_df[offense_rush_df.play_call != 'pass']
offense_rush_df.head()

      game_id   offense play_type play_call  yards_gained
1   401520162  Michigan      Rush      rush             1
2   401520162  Michigan      Rush      rush             0
3   401520162  Michigan      Rush      rush             1
9   401520162  Michigan      Rush      rush            21
11  401520162  Michigan      Rush      rush             3

In [126]:
offense_rush_df = offense_rush_df.groupby(['game_id', 'offense', 'play_call'], as_index=False)['yards_gained'].sum()
offense_rush_df.columns = ['game_id', 'team', 'play_call', 'off_rush_yards']
offense_rush_df

      game_id      team play_call  off_rush_yards
0   401520162  Michigan      rush             161
1   401520202  Michigan      rush             165
2   401520232  Michigan      rush             184
3   401520260  Michigan      rush             210
4   401520286  Michigan      rush             255
5   401520303  Michigan      rush             181
6   401520321  Michigan      rush             183
7   401520340  Michigan      rush              95
8   401520368  Michigan      rush             146
9   401520394  Michigan      rush             241
10  401520410  Michigan      rush             158
11  401520434  Michigan      rush             163
12  401539480  Michigan      rush             106

In [127]:
offense_pass_df = offense_df[['game_id', 'offense', 'play_type','play_call', 'yards_gained']]
offense_pass_df = offense_pass_df[offense_pass_df.play_call != 'rush']
offense_pass_df.head()

      game_id   offense          play_type play_call  yards_gained
5   401520162  Michigan     Pass Reception      pass             3
7   401520162  Michigan     Pass Reception      pass            16
8   401520162  Michigan     Pass Reception      pass             2
10  401520162  Michigan     Pass Reception      pass             4
12  401520162  Michigan  Passing Touchdown      pass            14

In [128]:
offense_pass_df = offense_pass_df.groupby(['game_id', 'offense', 'play_call'], as_index=False)['yards_gained'].sum()
offense_pass_df.columns = ['game_id', 'team', 'play_call', 'off_pass_yards']
offense_pass_df

      game_id      team play_call  off_pass_yards
0   401520162  Michigan      pass             280
1   401520202  Michigan      pass             313
2   401520232  Michigan      pass             143
3   401520260  Michigan      pass             214
4   401520286  Michigan      pass             187
5   401520303  Michigan      pass             241
6   401520321  Michigan      pass             244
7   401520340  Michigan      pass             357
8   401520368  Michigan      pass             328
9   401520394  Michigan      pass              60
10  401520410  Michigan      pass             141
11  401520434  Michigan      pass             182
12  401539480  Michigan      pass             147

In [129]:
offesnse_game_totals = pd.merge(offense_rush_df[['game_id', 'team', 'off_rush_yards']], offense_pass_df[['game_id', 'team', 'off_pass_yards']], on=['game_id', 'team'], how='outer')
offesnse_game_totals

      game_id      team  off_rush_yards  off_pass_yards
0   401520162  Michigan             161             280
1   401520202  Michigan             165             313
2   401520232  Michigan             184             143
3   401520260  Michigan             210             214
4   401520286  Michigan             255             187
5   401520303  Michigan             181             241
6   401520321  Michigan             183             244
7   401520340  Michigan              95             357
8   401520368  Michigan             146             328
9   401520394  Michigan             241              60
10  401520410  Michigan             158             141
11  401520434  Michigan             163             182
12  401539480  Michigan             106             147

In [87]:
defense_dataset = pd.DataFrame()

In [88]:
# Configure API key authorization: ApiKeyAuth
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = '+eiRK37qNRqjoDcgyigTAWo4QyGrMtYR1o/hifwQmzj8hO1OwzwDdbjRnJKfSr2t'
configuration.api_key_prefix['Authorization'] = 'Bearer'

for year in range (2023, 2024):
    api_config = cfbd.ApiClient(configuration)
    for week in range (1,16):
        response = plays = cfbd.PlaysApi(api_config).get_plays(year=year, week=week, defense='Michigan')
        data = (pd.DataFrame.from_records([p.to_dict() for p in plays]))
        defense_dataset = pd.concat([defense_dataset, data]) 
          
      
defense_dataset

,id,drive_id,game_id,drive_number,play_number,offense,offense_conference,offense_score,defense,home,...,yard_line,yards_to_goal,down,distance,yards_gained,scoring,play_type,play_text,ppa,wallclock
0,401520162101854901,4015201621,401520162,1,2,East Carolina,American Athletic,0,Michigan,Michigan,...,75,75,1,10,1,False,Rush,Rahjai Harris run for 1 yd to the ECU 26,-0.587480,2023-09-02T16:10:42.000Z
1,401520162101859401,4015201621,401520162,1,3,East Carolina,American Athletic,0,Michigan,Michigan,...,74,74,2,9,5,False,Pass Reception,Mason Garcia pass complete to Jsi Hatfield for...,0.052747,2023-09-02T16:10:42.000Z
2,401520162101866601,4015201621,401520162,1,4,East Carolina,American Athletic,0,Michigan,Michigan,...,69,69,3,4,0,False,Pass Incompletion,Mason Garcia pass incomplete to Shane Calhoun,-0.437702,2023-09-02T16:10:42.000Z
3,401520162101868001,4015201621,401520162,1,5,East Carolina,American Athletic,0,Michigan,Michigan,...,69,69,4,4,0,False,Punt,Archer Trafford punt for 67 yds,NaN,2023-09-02T16:10:42.000Z
4,401520162101889601,4015201623,401520162,3,1,East Carolina,American Athletic,0,Michigan,Michigan,...,47,47,1,10,1,False,Rush,Rahjai Harris run for 1 yd to the MICH 48,-0.816390,2023-09-02T16:16:39.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,401539480104984501,40153948026,401539480,26,6,Iowa,Big Ten,0,Michigan,Iowa,...,48,52,2,7,0,False,Pass Incompletion,Deacon Hill pass incomplete,-1.108911,2023-12-03T04:29:50.000Z
70,401539480104984502,40153948026,401539480,26,7,Iowa,Big Ten,0,Michigan,Iowa,...,48,52,3,7,0,False,Timeout,"Timeout Iowa, clock 01:54",NaN,2023-12-03T04:29:50.000Z
71,401539480104984801,40153948026,401539480,26,8,Iowa,Big Ten,0,Michigan,Iowa,...,48,52,3,7,0,False,Pass Incompletion,Deacon Hill pass incomplete,-0.779892,2023-12-03T04:31:41.000Z
72,401539480104984802,40153948026,401539480,26,9,Iowa,Big Ten,0,Michigan,Iowa,...,48,52,4,7,-5,False,Penalty,"Iowa Penalty, False Start (Mason Richman) to t...",NaN,2023-12-03T04:31:41.000Z
73,401539480104985401,40153948026,401539480,26,10,Iowa,Big Ten,0,Michigan,Iowa,...,43,57,4,12,-4,False,Sack,Deacon Hill sacked by Derrick Moore for a loss...,0.040957,2023-12-03T04:33:21.000Z

In [89]:
defense_dataset.columns

Index(['id', 'drive_id', 'game_id', 'drive_number', 'play_number', 'offense',
       'offense_conference', 'offense_score', 'defense', 'home', 'away',
       'defense_conference', 'defense_score', 'period', 'clock',
       'offense_timeouts', 'defense_timeouts', 'yard_line', 'yards_to_goal',
       'down', 'distance', 'yards_gained', 'scoring', 'play_type', 'play_text',
       'ppa', 'wallclock'],
      dtype='object')

In [90]:
defense_df = defense_dataset[['game_id','play_type','yards_gained','defense']]
defense_df.head()

     game_id          play_type  yards_gained   defense
0  401520162               Rush             1  Michigan
1  401520162     Pass Reception             5  Michigan
2  401520162  Pass Incompletion             0  Michigan
3  401520162               Punt             0  Michigan
4  401520162               Rush             1  Michigan

In [93]:
#define each plays type
pass_types = ['Pass Reception', 'Passing Touchdown']
rush_types = ['Rush', 'Rushing Touchdown']

#write function to get the play type into the dataframe
def getPlayCall(x):
    if x in pass_types:
            return 'pass'
    elif x in rush_types:
        return 'rush'
    else:
        return 'None'

#get the play type into the dataframe
defense_df['play_call'] = defense_df['play_type'].apply(getPlayCall)


defense_df.head()

/var/folders/gc/l9nrmd0j3fxcb8_827d4qyk40000gn/T/ipykernel_16102/4207930000.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  defense_df['play_call'] = defense_df['play_type'].apply(getPlayCall)

     game_id          play_type  yards_gained   defense play_call
0  401520162               Rush             1  Michigan      rush
1  401520162     Pass Reception             5  Michigan      pass
2  401520162  Pass Incompletion             0  Michigan      None
3  401520162               Punt             0  Michigan      None
4  401520162               Rush             1  Michigan      rush

In [95]:
defense_df = defense_df[defense_df.play_call != 'None']
defense_df.head()

     game_id       play_type  yards_gained   defense play_call
0  401520162            Rush             1  Michigan      rush
1  401520162  Pass Reception             5  Michigan      pass
4  401520162            Rush             1  Michigan      rush
5  401520162            Rush             2  Michigan      rush
8  401520162            Rush             0  Michigan      rush

In [118]:
defense_rush_df = defense_df[['game_id', 'defense', 'play_type','play_call', 'yards_gained']]
defense_rush_df = defense_rush_df[defense_rush_df.play_call != 'pass']
defense_rush_df.head()

      game_id   defense play_type play_call  yards_gained
0   401520162  Michigan      Rush      rush             1
4   401520162  Michigan      Rush      rush             1
5   401520162  Michigan      Rush      rush             2
8   401520162  Michigan      Rush      rush             0
10  401520162  Michigan      Rush      rush             3

In [119]:
defense_rush_df = defense_rush_df.groupby(['game_id', 'defense', 'play_call'], as_index=False)['yards_gained'].sum()
defense_rush_df.columns = ['game_id', 'team', 'play_call', 'def_rush_yards']
defense_rush_df

      game_id      team play_call  def_rush_yards
0   401520162  Michigan      rush             111
1   401520202  Michigan      rush             100
2   401520232  Michigan      rush             101
3   401520260  Michigan      rush              77
4   401520286  Michigan      rush             131
5   401520303  Michigan      rush             121
6   401520321  Michigan      rush             116
7   401520340  Michigan      rush              57
8   401520368  Michigan      rush             131
9   401520394  Michigan      rush             170
10  401520410  Michigan      rush              69
11  401520434  Michigan      rush             106
12  401539480  Michigan      rush              53

In [120]:
defense_pass_df = defense_df[['game_id', 'defense', 'play_type','play_call', 'yards_gained']]
defense_pass_df = defense_pass_df[defense_pass_df.play_call != 'rush']
defense_pass_df.head()

      game_id   defense       play_type play_call  yards_gained
1   401520162  Michigan  Pass Reception      pass             5
9   401520162  Michigan  Pass Reception      pass             9
15  401520162  Michigan  Pass Reception      pass             1
16  401520162  Michigan  Pass Reception      pass            14
22  401520162  Michigan  Pass Reception      pass             5

In [121]:
defense_pass_df = defense_pass_df.groupby(['game_id', 'defense', 'play_call'], as_index=False)['yards_gained'].sum()
defense_pass_df.columns = ['game_id', 'team', 'play_call', 'def_pass_yards']
defense_pass_df

      game_id      team play_call  def_pass_yards
0   401520162  Michigan      pass             150
1   401520202  Michigan      pass             168
2   401520232  Michigan      pass             124
3   401520260  Michigan      pass             180
4   401520286  Michigan      pass             199
5   401520303  Michigan      pass              52
6   401520321  Michigan      pass             140
7   401520340  Michigan      pass             133
8   401520368  Michigan      pass             144
9   401520394  Michigan      pass              74
10  401520410  Michigan      pass             247
11  401520434  Michigan      pass             246
12  401539480  Michigan      pass             119

In [123]:
defense_game_totals = pd.merge(defense_rush_df[['game_id', 'team', 'def_rush_yards']], defense_pass_df[['game_id', 'team', 'def_pass_yards']], on=['game_id', 'team'], how='outer')
defense_game_totals

      game_id      team  def_rush_yards  def_pass_yards
0   401520162  Michigan             111             150
1   401520202  Michigan             100             168
2   401520232  Michigan             101             124
3   401520260  Michigan              77             180
4   401520286  Michigan             131             199
5   401520303  Michigan             121              52
6   401520321  Michigan             116             140
7   401520340  Michigan              57             133
8   401520368  Michigan             131             144
9   401520394  Michigan             170              74
10  401520410  Michigan              69             247
11  401520434  Michigan             106             246
12  401539480  Michigan              53             119

In [130]:
offesnse_game_totals

      game_id      team  off_rush_yards  off_pass_yards
0   401520162  Michigan             161             280
1   401520202  Michigan             165             313
2   401520232  Michigan             184             143
3   401520260  Michigan             210             214
4   401520286  Michigan             255             187
5   401520303  Michigan             181             241
6   401520321  Michigan             183             244
7   401520340  Michigan              95             357
8   401520368  Michigan             146             328
9   401520394  Michigan             241              60
10  401520410  Michigan             158             141
11  401520434  Michigan             163             182
12  401539480  Michigan             106             147

In [131]:
team_game_totals = pd.merge(offesnse_game_totals[['game_id', 'team', 'off_rush_yards', 'off_pass_yards']], defense_game_totals[['game_id', 'team', 'def_rush_yards', 'def_pass_yards']], on=['game_id', 'team'], how='outer')

In [132]:
team_game_totals

,game_id,team,off_rush_yards,off_pass_yards,def_rush_yards,def_pass_yards
0,401520162,Michigan,161,280,111,150
1,401520202,Michigan,165,313,100,168
2,401520232,Michigan,184,143,101,124
3,401520260,Michigan,210,214,77,180
4,401520286,Michigan,255,187,131,199
5,401520303,Michigan,181,241,121,52
6,401520321,Michigan,183,244,116,140
7,401520340,Michigan,95,357,57,133
8,401520368,Michigan,146,328,131,144
9,401520394,Michigan,241,60,170,74
10,401520410,Michigan,158,141,69,247
11,401520434,Michigan,163,182,106,246
12,401539480,Michigan,106,147,53,119

need to add offense points and defense points